* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(home_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover{
    color: orange;
}

li {
    list-style: none;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height:  60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .items{
    display: flex;
    gap: 2rem;
}

.navbar .bar_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover{
    scale:1.05;
    color:white;
}

.dropdown{
    display:none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height:0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic(0.175, 0.885, 0.32, 1.275) ;
}

.dropdown.open {
    height:240px;
}

.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px){
    .navbar .items, 
    .navbar .action_btn{
        display: none;
    }
    .navbar .bar_btn{
        display: block;
    }
}

.dropdown{
    display: block;
}

